<form #compoundRequestForm="ngForm">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header>Compound Details</nb-card-header>
      <nb-card-body >
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Platform Name</label>
              <span nbTooltip="The following field is required" nbTooltipTrigger="hover" nbTooltipPlacement="top" nbTooltipStatus="danger" style="color: red;">*</span>
              <nb-select fullWidth placeholder="Platform" (selectedChange)="GetCompoundCategoriesByPlatform($event)"  [(ngModel)]="compoundDetails.platform.idPlatform" required name="compoundPlatform" #compoundPlatform="ngModel">
                <nb-option *ngFor="let platform of platformLookups" [value]="platform.id">{{platform.name}}</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Compound Category Name</label>
              <span nbTooltip="The following field is required" nbTooltipTrigger="hover" nbTooltipPlacement="top" nbTooltipStatus="danger" style="color: red;">*</span>
              <nb-select fullWidth placeholder="Compound Category Name" [(ngModel)]="compoundDetails.compoundCategory.idCompoundCategory" required name="compoundCategory" #compoundCategory="ngModel">
                <nb-option  *ngFor="let compoundCategory of compoundCategoryLookups" [value]="compoundCategory.id">{{compoundCategory.name}}</nb-option>
              </nb-select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Short Name</label>
              <input type="text" nbInput fullWidth name="shortname" [(ngModel)]="compoundDetails.shortname">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Long Name</label>
              <input type="text" nbInput fullWidth name="name" [(ngModel)]="compoundDetails.name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Description</label>
              <input type="text" nbInput fullWidth name="description" [(ngModel)]="compoundDetails.description">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox name="redundant"  [(ngModel)]="compoundDetails.redundant" >  <span>Redundant</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox name="configuratorUse"  [(ngModel)]="compoundDetails.configuratorUse" >  <span>Configurator Use</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox name="remoteIo"  [(ngModel)]="compoundDetails.remoteIo" >  <span>Remote Io</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox name="zone0"  [(ngModel)]="compoundDetails.zone0" >  <span>Zone 0</span></nb-checkbox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox  name="zone1"  [(ngModel)]="compoundDetails.zone1" >  <span>Zone 1</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox name="zone2"  [(ngModel)]="compoundDetails.zone2" >  <span>Zone 2</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox name="zone20"  [(ngModel)]="compoundDetails.zone20" >  <span>Zone 20</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox name="zone21"  [(ngModel)]="compoundDetails.zone21" >  <span>Zone 21</span></nb-checkbox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox name="zone22"   [(ngModel)]="compoundDetails.zone22" >  <span>Zone 22</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox name="multiprotocol"  [(ngModel)]="compoundDetails.multiprotocol" >  <span>Multiprotocol</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox name="universalIo"  [(ngModel)]="compoundDetails.universalIo" >  <span>Universal Io</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
          </div>
        </div>
        <div class="col-lg-6">
          <button nbButton status="success"(click)="AddCompound('right','success')" [disabled]="!compoundRequestForm.form.valid">Add Compound</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</form>
