<div class="col-md-12 col-lg-12 col-xxxl-4">
  <nb-card>
    <nb-card-body >
      <div class="row">
        <div class="col-sm-3">
          <label for="inputFirstName" class="label">Compound Names: </label>
        </div>
        <div class="col-sm-5">
          <nb-select fullWidth [(selected)]="compoundId">
            <nb-option *ngFor="let compound of compoundsList" [value]="compound.idCompound">{{compound.shortname}}</nb-option>
          </nb-select>
        </div>
        <div class="col-sm-4">
          <button nbButton status="success"(click)="GetCompound(compoundId)">Get compound details</button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>

  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card *ngIf="compoundDetails && this.isCompoundEditable == false">
      <nb-card-header>Compound Details
        <button nbButton status="primary" style="float:right;margin-right: 10px;height: 30px; width: 200px;" class="button" (click)="EditCompound(this.compoundDetails)" >Update compound</button>
      </nb-card-header>
      <nb-card-body >
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Platform Name</label>
              <input type="text" nbInput fullWidth readonly  [(ngModel)]="compoundDetails.platform.name"  >
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Compound Catrgory Name</label>
              <input type="text" nbInput fullWidth readonly [(ngModel)]="compoundDetails.compoundCategory.name" >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Short Name</label>
              <input type="text" nbInput fullWidth readonly [(ngModel)]="compoundDetails.shortname">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Long Name</label>
              <input type="text" nbInput fullWidth readonly [(ngModel)]="compoundDetails.name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Description</label>
              <input type="text" nbInput fullWidth readonly [(ngModel)]="compoundDetails.description">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox   onclick="return false;" [(ngModel)]="compoundDetails.redundant" >  <span>Redundant</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox  onclick="return false;" [(ngModel)]="compoundDetails.configuratorUse" >  <span>Configurator Use</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox onclick="return false;"  [(ngModel)]="compoundDetails.remoteIo" >  <span>Remote Io</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox  onclick="return false;" [(ngModel)]="compoundDetails.zone0" >  <span>Zone 0</span></nb-checkbox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox   onclick="return false;" [(ngModel)]="compoundDetails.zone1" >  <span>Zone 1</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox  onclick="return false;" [(ngModel)]="compoundDetails.zone2" >  <span>Zone 2</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox onclick="return false;"  [(ngModel)]="compoundDetails.zone20" >  <span>Zone 20</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox  onclick="return false;" [(ngModel)]="compoundDetails.zone21" >  <span>Zone 21</span></nb-checkbox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox   onclick="return false;" [(ngModel)]="compoundDetails.zone22" >  <span>Zone 22</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox  onclick="return false;" [(ngModel)]="compoundDetails.multiprotocol" >  <span>Multiprotocol</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox onclick="return false;"  [(ngModel)]="compoundDetails.universalIo" >  <span>Universal Io</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card *ngIf="compoundDetails && this.isCompoundEditable == true">
      <nb-card-header>Compound Details
        <button nbButton style="float:right;margin-right: 10px;height: 30px; width: 200px;" (click)="SaveCompoundUpdate('right','success')" status="success">Save Changes</button>
        <button nbButton style="float:right; margin-right: 10px;height: 30px; width: 200px;" (click)="CancelCompoundUpdate()" status="danger">Cancel Changes</button>
      </nb-card-header>
      <nb-card-body >
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Platform Name</label>
              <nb-select fullWidth placeholder="Platform" (selectedChange)="GetCompoundCategoriesByPlatform($event)"  [(ngModel)]="compoundDetails.platform.idPlatform">
                <nb-option *ngFor="let platform of platformLookups" [value]="platform.id">{{platform.name}}</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Compound Category Name</label>
              <nb-select fullWidth placeholder="Compound Category Name" [(ngModel)]="compoundDetails.compoundCategory.idCompoundCategory">
                <nb-option  *ngFor="let compoundCategory of compoundCategoryLookups" [value]="compoundCategory.id">{{compoundCategory.name}}</nb-option>
              </nb-select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Short Name</label>
              <input type="text" nbInput fullWidth  [(ngModel)]="compoundDetails.shortname">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Long Name</label>
              <input type="text" nbInput fullWidth  [(ngModel)]="compoundDetails.name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Description</label>
              <input type="text" nbInput fullWidth  [(ngModel)]="compoundDetails.description">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox    [(ngModel)]="compoundDetails.redundant" >  <span>Redundant</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox   [(ngModel)]="compoundDetails.configuratorUse" >  <span>Configurator Use</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox   [(ngModel)]="compoundDetails.remoteIo" >  <span>Remote Io</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox   [(ngModel)]="compoundDetails.zone0" >  <span>Zone 0</span></nb-checkbox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox    [(ngModel)]="compoundDetails.zone1" >  <span>Zone 1</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox   [(ngModel)]="compoundDetails.zone2" >  <span>Zone 2</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox   [(ngModel)]="compoundDetails.zone20" >  <span>Zone 20</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox   [(ngModel)]="compoundDetails.zone21" >  <span>Zone 21</span></nb-checkbox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox    [(ngModel)]="compoundDetails.zone22" >  <span>Zone 22</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox   [(ngModel)]="compoundDetails.multiprotocol" >  <span>Multiprotocol</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <nb-checkbox   [(ngModel)]="compoundDetails.universalIo" >  <span>Universal Io</span></nb-checkbox>
            </div>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card *ngIf="compoundDetails && compoundListService.isCompoundMemberTreeEditable == false">
      <nb-card-header>Compound Members information:
        <button nbButton status="primary" style="float:right;margin-right: 10px;height: 30px; width: 250px;" class="button" (click)="EditCompoundMembersTree(this.compoundDetails)" >Update compound members</button>
      </nb-card-header>
      <nb-card-body>
        <table [nbTreeGrid]="compoundListService.dataSource" [nbSort]="compoundListService.dataSource" (sort)="compoundListService.updateSort($event)">

          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="compoundListService.allColumns"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: compoundListService.allColumns"></tr>

          <ng-container [nbTreeGridColumnDef]="compoundListService.customColumn">
            <th nbTreeGridHeaderCell [nbSortHeader]="compoundListService.getSortDirection(compoundListService.customColumn)" *nbTreeGridHeaderCellDef>
              {{compoundListService.customColumn}}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              {{row.data[compoundListService.customColumn]}}
            </td>
          </ng-container>

          <ng-container *ngFor="let column of compoundListService.defaultColumns; let index = index"
                        [nbTreeGridColumnDef]="column"
                        [showOn]="compoundListService.getShowOn(index)">
            <th nbTreeGridHeaderCell [nbSortHeader]="compoundListService.getSortDirection(column)" *nbTreeGridHeaderCellDef>
              {{column}}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row" >
              <ngx-fs-icon-compound-list [CategoryChildren]="row"></ngx-fs-icon-compound-list>
            </td>
          </ng-container>

        </table>
      </nb-card-body>
    </nb-card>
    <nb-card *ngIf="compoundDetails && compoundListService.isCompoundMemberTreeEditable == true">
      <nb-card-header>Compound Members information:
        <button nbButton style="float:right;margin-right: 10px;height: 30px; width: 250px;" status="primary"(click)="compoundListService.AddCompoundMemberWithoutParent()">Add new compound member</button>
      </nb-card-header>
      <nb-card-body>
        <table [nbTreeGrid]="compoundListService.dataSource" [nbSort]="compoundListService.dataSource" (sort)="compoundListService.updateSort($event)">

          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="compoundListService.allColumns"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: compoundListService.allColumns"></tr>

          <ng-container [nbTreeGridColumnDef]="compoundListService.customColumn">
            <th nbTreeGridHeaderCell [nbSortHeader]="compoundListService.getSortDirection(compoundListService.customColumn)" *nbTreeGridHeaderCellDef>
              {{compoundListService.customColumn}}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              {{row.data[compoundListService.customColumn]}}
            </td>
          </ng-container>

          <ng-container *ngFor="let column of compoundListService.defaultColumns; let index = index"
                        [nbTreeGridColumnDef]="column"
                        [showOn]="compoundListService.getShowOn(index)">
            <th nbTreeGridHeaderCell [nbSortHeader]="compoundListService.getSortDirection(column)" *nbTreeGridHeaderCellDef>
              {{column}}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row" >
              <ngx-fs-icon-compound-list [CategoryChildren]="row"></ngx-fs-icon-compound-list>
            </td>
          </ng-container>

        </table>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton style="float:right;margin-right: 10px;height: 30px; width: 200px;" (click)="SaveCompoundMembersTreeUpdate('right','success')" status="success">Save Changes</button>
        <button nbButton style="float:right; margin-right: 10px;height: 30px; width: 200px;" (click)="CancelCompoundMembersTreeUpdate()" status="danger">Cancel Changes</button>

      </nb-card-footer>
    </nb-card>
  </div>



  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card *ngIf="productListService.isProductAssignmentCalled && !productListService.isProductAssignmentEditable">
      <nb-card-header>Products Information:
        <button nbButton status="primary" class="button edit-button" (click)="productListService.EditProductAssignments()" >Update Product Assignment</button>
      </nb-card-header>
      <nb-card-body>


        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Product Id</th>
              <th>Product Category </th>
              <th>Platform</th>
              <th>Name</th>
              <th>Model Code</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let products of productListService.productsList">
              <td>{{ products.productId }}</td>
              <td>{{ products.productCategoryName }}</td>
              <td>{{ products.platformName }}</td>
              <td>{{ products.name }}</td>
              <td>{{ products.modelCode }}</td>
            </tr>
          </tbody>
        </table>


      </nb-card-body>
    </nb-card>
    <nb-card *ngIf="productListService.isProductAssignmentCalled && productListService.isProductAssignmentEditable">
      <nb-card-header>Products Information:
      </nb-card-header>
      <nb-card-body>
        <div class="col-md-12 col-lg-12 col-xxxl-12">
          <nb-card>
            <nb-card-header>
              Add Product to Compound Member
            </nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="col-sm-2" style="margin-top: 5px;">
                  <label class="label">Compound Member Name:</label>
                </div>
                <div class="col-sm-4">
                  <input type="text" nbInput fullWidth  [(ngModel)]="productListService.compoundMemberName">
                </div>
              </div>
              <br/>
              <div *ngIf="productListService.compoundMemberName != null" style="overflow-y: scroll; max-height: 500px;">
                <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                        <th>Model Code</th>
                        <th>Platform</th>
                        <th>Product Category</th>
                        <th>Name</th>
                        <th>Action</th>
                      </tr>
                  </thead>
                  <tbody *ngFor="let product of productListService.productsAssignment">
                      <tr  *ngIf="product.name.toLowerCase().search(productListService.compoundMemberName.toLowerCase()) != -1 && product.isAssigned == false">
                        <td>{{ product.modelCode }}</td>
                        <td>{{ product.platformName }}</td>
                        <td>{{ product.productCategoryName }}</td>
                        <td>{{ product.name }}</td>
                        <td><button nbButton status="primary" class="button" (click)="productListService.AddProduct(product.productId)" >Add Product</button></td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </nb-card-body>
          </nb-card>

          <nb-card>
            <nb-card-header>
              Manage Assigned Products

              <div style="float:right;margin-right: 5px;">
                <label for="inputFirstName" class="label">Main Product Option: </label>
                <select class="drop-down-style"  [(ngModel)]="productListService.mainOptionProductId">
                  <ng-container *ngFor='let product of productListService.productsAssignment' >
                    <option *ngIf="product.isAssigned == true" [ngValue]="product.productId">
                      {{product.name}}
                    </option>
                  </ng-container>
                </select>
              </div>
            </nb-card-header>
            <nb-card-body>
              <div style="overflow-y: scroll; max-height: 500px;">
                <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                        <th>Model Code</th>
                        <th>Platform</th>
                        <th>Product Category</th>
                        <th>Name</th>
                        <th>Action</th>
                      </tr>
                  </thead>
                  <tbody *ngFor="let product of productListService.productsAssignment">
                      <tr  *ngIf="product.isAssigned == true">
                        <td>{{ product.modelCode }}</td>
                        <td>{{ product.platformName }}</td>
                        <td>{{ product.productCategoryName }}</td>
                        <td>{{ product.name }}</td>
                        <td><button nbButton status="danger" class="button" (click)="productListService.RemoveProduct(product.productId)">Remove Product</button></td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton style="float:right;margin-right: 10px;height: 30px; width: 200px;" (click)="productListService.SaveProductAssignments('right','success')" status="success">Save Changes</button>
        <button nbButton style="float:right; margin-right: 10px;height: 30px; width: 200px;" (click)="productListService.CancelProductAssignments()" status="danger">Cancel Changes</button>

      </nb-card-footer>
  </nb-card>
  </div>

