// @nebular theming framework
@import "~@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "~@nebular/theme/styles/themes";

$nb-themes: nb-register-theme(
  (
    search-text-font-size: 4vw !important  ,
    scrollbar-width: 0.5rem,
    scrollbar-height: 0.5rem,
    scrollbar-color: #9fa0a4,
    spinner-success-background-color:white,
    select-outline-basic-background-color :#ffffff,
    //Default color for the scrollbar
      text-subtitle-font-size: 0.8375rem,
    //Subtitle font size
      text-paragraph-font-size: 0.8375rem,
    //paragraph font size
      font-family-primary: "Nunito",
    //Primary font
      font-family-secondary: "Nunito",
    //secondary font
      layout-padding: 1rem 1rem 0.5rem,
    //Layout padding
      header-padding: 0.7rem,
    //header padding
      menu-item-icon-margin: 0 0.5rem 0 0,
    //Margin for menu icons
      sidebar-height: 100vh,
    //Height of the global sidebar
      header-height: 4.25rem,
    //Heigh of the global header
    tooltip-max-width:40rem,
    tooltip-max-height:10rem,
    card-shadow:0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1),
    card-background-color: #ffffff,
    card-border-color:#ffffff,

    tooltip-primary-background-color: white,
    tooltip-primary-text-color: black,
    sidebar-width: 12rem,
    accordion-padding: 1rem,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    card-scrollbar-width: 0.5rem,
    layout-scrollbar-width:0.5rem,
    input-background-color: #ffffff,
    icon-height:1.5rm,
    icon-width:1.5rem,
    icon-line-height:1.2rem,
    select-outline-background-color: #ffffff,


    color-primary-100: #dffcd9,
    color-primary-200: #bafab3,
    color-primary-300: #8bf08a,
    color-primary-400: #6ae175,
    color-primary-500: #3dcd58,
    color-primary-600: #2cb051,
    color-primary-700: #1e934a,
    color-primary-800: #137642,
    color-primary-900: #0b623c,
    color-success-100: #d2fed8,
    color-success-200: #a6fdbb,
    color-success-300: #79f9a4,
    color-success-400: #58f49b,
    color-success-500: #23ed8f,
    color-success-600: #19cb8a,
    color-success-700: #11aa82,
    color-success-800: #0b8974,
    color-success-900: #06716a,
    color-grey-100: #222b45,
    color-grey-200: #222b45,
    color-grey-300: #222b45,
    color-grey-400: #222b45,
    color-grey-500: #222b45,
    color-grey-600: #222b45,
    color-grey-700: #222b45,
    color-grey-800: #222b45,
    color-grey-900: #222b45,
    color-warning-100: #ffaa00,
    color-warning-200: #ffaa00,
    color-warning-300: #ffaa00,
    color-warning-400: #ffaa00,
    color-warning-500: #ffaa00,
    color-warning-600: #ffaa00,
    color-warning-700: #ffaa00,
    color-warning-800: #ffaa00,
    color-warning-900: #ffaa00,
    color-danger-100: #ffebe1,
    color-danger-200: #ffd3c3,
    color-danger-300: #ffb5a6,
    color-danger-400: #ff9990,
    color-danger-500: #ff6b6b,
    color-danger-600: #db4e5a,
    color-danger-700: #b7354c,
    color-danger-800: #93223f,
    color-danger-900: #7a1437,
    // color-basic-100: #009530,
      // color-basic-200: #f7f9fc,
      // color-basic-300: #edf1f7,
      // color-basic-400: #e4e9f2,
      // color-basic-500: #c5cee0,
      // color-basic-600: #8f9bb3,
      // color-basic-700: #2e3a59,
      // color-basic-800: #222b45,
      // color-basic-900: #1a2138,
      // color-basic-1000: #151a30,
      // color-basic-1100: #101426,

  ),
  default,
  default
);
