@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../../@theme/styles/themes.scss";
@include nb-install-component() {
    display: flex;
    justify-content: space-between;
    width: 100%;
    nb-search{
      width: 100% !important;
    }
    :host nb-layout-header ::ng-deep nav {
      justify-content: flex-end;
    }
    .logo-container {
        display: flex;
        align-items: center;
        width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
    }
    nb-action {
        height: auto;
        display: flex;
        align-content: center;
    }
    nb-icon {
        cursor: pointer;
    }
     ::ng-deep nb-search button {
        padding: 50!important;
    }
    .header-container {
        display: flex;
        align-items: center;
        width: auto;
        .sidebar-toggle {
            @include nb-ltr(padding-right, 1.25rem);
            @include nb-rtl(padding-left, 1.25rem);
            text-decoration: none;
            color: nb-theme(text-hint-color);
            nb-icon {
                font-size: 1.75rem;
            }
        }
        .logo {
            // padding: 0 1.25rem;
            font-size: 1.75rem;
            // @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
            // @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
            white-space: nowrap;
            text-decoration: none;
        }
    }
    .direction-switcher {
        @include nb-ltr(margin-left, 2rem);
        @include nb-rtl(margin-right, 2rem);
    }
    @include media-breakpoint-down(sm) {
        .control-item {
            display: none;
        }
        .user-action {
            border: none;
            padding: 0;
        }
    }
    @include media-breakpoint-down(is) {
        nb-select,
        .direction-switcher {
            display: none;
        }
    }
    .column-curtain {
        display: block;
        position: fixed;
        z-index: 1050;
        top: 0;
        left: 50%;
        overflow: hidden;
        width: 50%;
        height: 100vh;
        pointer-events: none;
        margin-top: 6%;
    }
    #hellobar-bar {
        font-family: "Open Sans", sans-serif;
        width: 40%;
        margin: 0;
        height: 30px;
        display: table;
        font-size: 17px;
        font-weight: 400;
        padding: .33em .5em;
        -webkit-font-smoothing: antialiased;
        color: #5c5e60;
        /* position: fixed; */
        margin-right: 20%;
        background-color: white;
        box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.15);
    }
    #hellobar-bar.regular {
        height: 30px;
        font-size: 11px;
        padding: .2em .5em;
    }
    .hb-content-wrapper {
        text-align: center;
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }
    .hb-content-wrapper p {
        margin-top: 0;
        margin-bottom: 0;
    }
    .hb-text-wrapper {
        margin-right: .67em;
        display: inline-block;
        line-height: 1.3;
    }
    .hb-text-wrapper .hb-headline-text {
        font-size: 1em;
        display: inline-block;
        vertical-align: middle;
    }
    #hellobar-bar .hb-cta {
        display: inline-block;
        vertical-align: middle;
        margin: 5px 0;
        color: #ffffff;
        background-color: #22af73;
        border-color: #22af73
    }
    .hb-cta-button {
        opacity: 1;
        color: #fff;
        display: block;
        cursor: pointer;
        line-height: 1.5;
        max-width: 22.5em;
        text-align: center;
        position: relative;
        border-radius: 3px;
        white-space: nowrap;
        margin: 1.75em auto 0;
        text-decoration: none;
        padding: 0;
        overflow: hidden;
    }
    .hb-cta-button .hb-text-holder {
        border-radius: inherit;
        padding: 5px 15px;
    }
    .hb-close-wrapper {
        display: table-cell;
        width: 1.6em;
    }
    .hb-close-wrapper .icon-close {
        font-size: 14px;
        top: 15px;
        /* right: 25px; */
        width: 15px;
        height: 15px;
        opacity: .3;
        color: #000;
        cursor: pointer;
        position: absolute;
        text-align: center;
        line-height: 15px;
        z-index: 1000;
        text-decoration: none;
    }
    .nb-theme-default nb-search-field .search input {
        font-size: 4vw;
        width: 111rem!important;
    }
    .nb-theme-default nb-search-field .search {
      background: #833333
      !important;

      width: 111rem !important;
  }
  .search-input{
    background-color: blue($color: #000000);
  }
  .download{
    cursor: pointer !important;
  }
}
