<div class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card>
    <nb-card-header>
      Compound Details
    </nb-card-header>
    <nb-card-body >
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="label">Platform Name</label>
            <nb-select fullWidth placeholder="Platform" [(ngModel)]="compoundDetails.platform.idPlatform">
              <nb-option value="1">DCS</nb-option>
              <nb-option value="2">TRICON</nb-option>
              <nb-option value="3">TRICON-CX</nb-option>
              <nb-option value="4">TRIDENT</nb-option>
              <nb-option value="5">TRI-GP</nb-option>
              <nb-option value="6">IT</nb-option>
              <nb-option value="7">DCS [BASF]</nb-option>
              <nb-option value="8">TRI-COM</nb-option>
              <nb-option value="9">Modicon</nb-option>
              <nb-option value="10">DCS [FBM-S]</nb-option>
              <nb-option value="13">DCS [FBM-C]</nb-option>
              <nb-option value="16">PES</nb-option>
              <nb-option value="18">M&I</nb-option>
              <nb-option value="19">HDCS</nb-option>
              <nb-option value="20">SCADA</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="label">Compound Category Name</label>
            <input type="text" nbInput fullWidth  [(ngModel)]="compoundDetails.compoundCategory.name" >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="label">Short Name</label>
            <input type="text" nbInput fullWidth  [(ngModel)]="compoundDetails.shortname">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="label">Long Name</label>
            <input type="text" nbInput fullWidth  [(ngModel)]="compoundDetails.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="label">Description</label>
            <input type="text" nbInput fullWidth  [(ngModel)]="compoundDetails.description">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <nb-checkbox    [(ngModel)]="compoundDetails.redundant" >  <span>Redundant</span></nb-checkbox>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <nb-checkbox   [(ngModel)]="compoundDetails.configuratorUse" >  <span>Configurator Use</span></nb-checkbox>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <nb-checkbox   [(ngModel)]="compoundDetails.remoteIo" >  <span>Remote Io</span></nb-checkbox>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <nb-checkbox   [(ngModel)]="compoundDetails.zone0" >  <span>Zone 0</span></nb-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <nb-checkbox    [(ngModel)]="compoundDetails.zone1" >  <span>Zone 1</span></nb-checkbox>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <nb-checkbox   [(ngModel)]="compoundDetails.zone2" >  <span>Zone 2</span></nb-checkbox>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <nb-checkbox   [(ngModel)]="compoundDetails.zone20" >  <span>Zone 20</span></nb-checkbox>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <nb-checkbox   [(ngModel)]="compoundDetails.zone21" >  <span>Zone 21</span></nb-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <nb-checkbox    [(ngModel)]="compoundDetails.zone22" >  <span>Zone 22</span></nb-checkbox>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <nb-checkbox   [(ngModel)]="compoundDetails.multiprotocol" >  <span>Multiprotocol</span></nb-checkbox>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <nb-checkbox   [(ngModel)]="compoundDetails.universalIo" >  <span>Universal Io</span></nb-checkbox>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <div class="col-lg-6">
        <button nbButton status="success"(click)="UpdateCompound('right','success')">Update Compound</button>
        <button nbButton style="margin-left: 10px;" status="success"(click)="AssignCompoundMembersPage()">Assign Compound Members</button>
      </div>
    </nb-card-body>
    <nb-card-footer>

    </nb-card-footer>
  </nb-card>
</div>
